<ion-view view-title="Average Handling Time &nbsp;&nbsp;&nbsp;&nbsp;{{getAHT()}}">
  <ion-content>
    <div class="list">
      <ion-checkbox ng-model="agentInteraction.needAlertForAHT" ng-repeat="agentInteraction in agentGroupData">
        <div class="agent-name-panel">{{agentInteraction.agentName}}</div>
        <div class="avg-handling-time-panel" ng-if="agentInteraction.showWarningForAHT">
          Average Handling Time : <span style="color: #ff4e4e;">{{getAgentAvgHandlingTime(agentInteraction)}}</span>
        </div>
        <div class="avg-handling-time-panel" ng-if="!agentInteraction.showWarningForAHT">
          Average Handling Time : {{getAgentAvgHandlingTime(agentInteraction)}}
        </div>
      </ion-checkbox>
    </div>
  </ion-content>
  <div class="send-btn"></div>
</ion-view>
