<ion-view view-title="First Time Resolution &nbsp;&nbsp;&nbsp;&nbsp;{{getFTR()}} %">
  <ion-content>
    <div class="list">
      <ion-checkbox ng-model="agentInteraction.needAlertForFTH" ng-repeat="agentInteraction in agentGroupData">
        <div class="agent-name-panel">{{agentInteraction.agentName}}</div>
        <div class="avg-handling-time-panel" ng-if="agentInteraction.showWarningForFTH">
          Average First Time Resolution : <span style="color: #ff4e4e;">{{agentInteraction.agentAvgFTH}} %</span>
        </div>
        <div class="avg-handling-time-panel" ng-if="!agentInteraction.showWarningForFTH">
          Average First Time Resolution : {{agentInteraction.agentAvgFTH}} %
        </div>
      </ion-checkbox>
    </div>
  </ion-content>
  <div class="send-btn"></div>
</ion-view>
