<ion-view view-title="Contact Centre KPI's">
  <ion-content>
    <div class="list">
      <a class="item" href="#">
        AHT
        <span class="badge badge-assertive">{{getAvgHandlingTime()}}</span>
      </a>
      <a class="item" href="#">
        FTR
        <span class="badge badge-assertive">{{getAvgFTR()}} %</span>
      </a>
      <a class="item" href="#">
        Queue Time
        <span class="badge badge-assertive">03:42 min</span>
      </a>
    </div>
  </ion-content>
</ion-view>
