.homeContainer {
  background-color: #ebe7ea;
}

.homeContainer .aht-section {
  background-color: #7d3cc8;
}

.homeContainer .frt-section {
  background-color: #39C44A;
}

.homeContainer .queue-section {
  background-color: #F8A20B;
}

.homeContainer .list {
  margin: 0px 10px;
}

.homeContainer .section {
  margin-top: 10px;
  border-radius: 5px;
  padding: 40px;
}

.homeContainer .flex-container {
  display: flex;
  align-items: stretch;
}

.homeContainer .kpi-images {
  width: 75px;
  height: 75px;
}

.homeContainer .flex-inner-container {
  flex: 1;
  margin-left: 25px;
}

.homeContainer .prop{
  font-size: 40px;
  color: white;
  font-weight: 100;
  line-height: 40px;
}

.homeContainer .value{
  color: white;
  font-size: 40px;
  line-height: 40px;
  margin-top: 10px;
}

.homeContainer .arrow{
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 30px;
}

