.request-container {
  background-color: #eeeeee;
}
.card.requestCard {
  padding: 20px;
  margin: 10px;
  position: relative;
}
.requestCard .requestPersonNameTitle {
  color: #007cbe;
}

.requestCard .request-status {
  height: 25px;
}

.requestCard .flex-container {
  display: flex;
}

.requestCard .average-evaluation,
.requestCard .distribution-rate {
}

.requestCard .consumption-rate,
.requestCard .remaining-days {
  padding-left: 10px;
}

.requestCard .divider-blocks {
  border-left: 1px solid #eeeeee;
  padding-left: 10px;
}

.requestCard .bottom-div {
  margin-top: 10px;
}

.requestCard .flex-item {
  flex: 1;
  margin: 0px 10px 0px 0px;
}
.requestCard .title {
  font-size: 14px;
  color: #888;
}
.requestCard .value {
  font-size: 16px;
  color: #333;
}

.approve-btn{
  background-image: url('../img/Accept-icon.png');
  height: 30px;
  width: 30px;
  display: inline-block;
  background-size: 30px;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 65px;
}

.decline-btn{
  background-image: url('../img/decline-icon.png');
  height: 30px;
  width: 30px;
  display: inline-block;
  background-size: 30px;
  background-position: center;
  position: absolute;
  top: 15px;
  right: 25px;
}
